body {
  font-family: Arial, Helvetica, sans-serif;
  background: #fff;
}
#vpwform {
  position: absolute;
  top: 30%;
  left: 25%;
  width: 50%;
  border: 1px #a00 solid;
  background: #ddd;
  text-align: center;
  padding: 2em;
  box-shadow: 4px 4px 5px #888;
  -webkit-box-shadow: 4px 4px 5px #888;
}
.biglogo {
  font-size: 300%;
  font-family: Times New Roman, serif;
  font-style: italic;
  margin: 0;
}
#msg {
  color: #a00;
}

table { width: 100%; }
th { text-align: left; }

#treasure { display: none; }
.lockctrl { text-align: right; }
.pw { color: #fff; }
.pw::-moz-selection { color: #33f; background: #33f; }
.pw::selection { color: #33f; background: #33f; }
#newacct { position: absolute; right: 10px; }
form#editform {
  display: none;
  position: absolute;
  top: 10%;
  left: 25%;
  width: 50%;
  border: 1px #a00 solid;
  background: #ddd;
  padding: 1ex;
  box-shadow: 4px 4px 5px #888;
  -webkit-box-shadow: 4px 4px 5px #888;
}
.submitflash {
  position: absolute;
  background: #fff;
  width: 100%;
  height: 100%;
  margin: -8px 0 0 -8px;
}
.label {
  text-align: right;
  width: 5em;
  vertical-align: top;
}
table.editform input { width: 100%; }
table.editform textarea { width: 100%; }
.editbuttons td { text-align: center; }
textarea { font-family: Arial, Helvetica, sans-serif; }
#created, #modified { font-size: 70%; }
