body {
  font-family: Arial, Helvetica, sans-serif;
  background: #fff;
}
#vpwform {
  position: absolute;
  top: 20%;
  left: 25%;
  width: 50%;
  border: 1px #a00 solid;
  background: #ddd;
  text-align: center;
  padding: 2em;
  box-shadow: 4px 4px 5px #888;
  -webkit-box-shadow: 4px 4px 5px #888;
}
.biglogo {
  font-size: 300%;
  font-family: Times New Roman, serif;
  font-style: italic;
  margin: 0;
}
.vpwconf {
  display: none;
}
#msg {
  color: #a00;
}
#newuser {
  float: right;
  font-size: small;
}
#login {
  display: none;
  float: left;
  font-size: small;
}

table { width: 100%; }
th { text-align: left; }

#treasure { display: none; }
#search { width: 100%; }
table.search { width: 100%; border-collapse: collapse; }
td.search { width: 100%; }
.lockctrl {
  padding-left: 1ex;
  white-space: nowrap;
  width: 0;
}
.pw { color: #fff; }
.pw::-moz-selection { color: #33f; background: #33f; }
.pw::selection { color: #33f; background: #33f; }

td.menugroup {
  width: 10em;
  vertical-align: top;
}
.menugroup-pad {
  width: 11em;
  height: 2px;
}
div.menugroup {
  width: 10em;
  position: absolute;
}
table.menubtn {
  width: 100%;
  border-collapse: collapse;
}
td.menubtn, td.newacct {
  padding: 0;
}
td.menubtn {
  width: 100%;
}
#menubtn {
  width: 100%;
  margin: 0;
  text-align: left;
  font-family: Times New Roman, serif;
  font-style: italic;
}
button.newacct {
  margin: 0;
}
#menu {
  border: 1px #000 solid;
  border-top: none;
  background: #eee;
  box-shadow: 4px 4px 5px #888;
  -webkit-box-shadow: 2px 2px 4px #aaa;
}
#menu button {
  display: block;
  padding: 0.4ex;
  margin: 0;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
}
#menu button:focus, #menu button:hover {
  background: #fff;
}

form#editform {
  display: none;
  position: absolute;
  top: 10%;
  left: 25%;
  width: 50%;
  border: 1px #a00 solid;
  background: #ddd;
  padding: 1ex;
  box-shadow: 4px 4px 5px #888;
  -webkit-box-shadow: 4px 4px 5px #888;
}
.submitflash {
  position: absolute;
  background: #fff;
  width: 100%;
  height: 100%;
  margin: -8px 0 0 -8px;
}
.label {
  text-align: right;
  width: 5em;
  vertical-align: top;
}
table.editform input { width: 100%; }
table.editform textarea { width: 100%; }
.editbuttons td { text-align: center; }
textarea { font-family: Arial, Helvetica, sans-serif; }
#created, #modified { font-size: 70%; }
